<?php
/**
 * Created by PhpStorm
 * Func: log库导数据
 * User: lpb
 * Date: 2023/2/24
 * Time: 11:10
 */
return [
    "sql1" => [
        "type1" => [
            "sql" => "select id, name, age, test_tb by id asc",
            "column" => ["A1"=>"ID","B1"=>"姓名","C1"=>"年龄"],
        ],
    ],
];